snippet ===
	`repeat('=', strlen(getline(line(".") - 1)))`
	
	${1}
snippet ---
	`repeat('-', strlen(getline(line(".") - 1)))`
	
	${1}

snippet link
	[${1:text}](http://${2:address} "${3:title}")

snippet linkdoc
	[${1:id}]: http://${2:url} "${3:title}"

snippet img
	![${1:alttext}](${2:/images/image.jpg} "${3:title}")

snippet cbl
	```{$1:language}
	$0
	```

