.DS_Store

sublime-text/Packages
!sublime-text/Packages/Color Scheme - User
!sublime-text/Packages/Theme - Spacegray
!sublime-text/Packages/User

doc/tags

vim/bundle
vim/.netrwhist

gitconfig.local

bin/_*
