snippet =lt
	= link_to '${1:text}', '${2:#}'
snippet =it
	= image_tag '${1:image}', alt: '${2:text}'
snippet =rp
	= render :partial => '${1:partial}'
snippet =rpl
	= render :partial => '${1:partial}', :locals => {}
snippet =rpc
	= render :partial => '${1:partial}', :collection => @$1
