snippet cla "Class"
class ${1:@ModuleName}

	# -------------------------------------
	#   Private Variables
	# -------------------------------------

	_settings : {}

	# -------------------------------------
	#   Constructor
	# -------------------------------------

	constructor: ( @options ) -> @init()

	# -------------------------------------
	#   Initialize
	# -------------------------------------

	init: ->
		@_settings = $.extend
			$${2:element} : $3
		, @options

		@_setEventHandlers()

	# -------------------------------------
	#   Set Event Handlers
	# -------------------------------------

	_setEventHandlers: ->
		# ...

# -------------------------------------
#   Usage
# -------------------------------------
#
# new $1()
#
endsnippet

snippet icb "Inline Callback"
${1:_settings}.on${2:Callback}( $1 ) if $1.on$2?$0
endsnippet

snippet mod "Module"
${1:@ModuleName} = do ->

	# -------------------------------------
	#   Private Variables
	# -------------------------------------

	_settings = {}

	# -------------------------------------
	#   Initialize
	# -------------------------------------

	init = ( options ) ->
		_settings = $.extend
			$${2:element} : $3
		, options

		_setEventHandlers()

	# -------------------------------------
	#   Set Event Handlers
	# -------------------------------------

	_setEventHandlers = ->
		# ...

	# -------------------------------------
	#   Public Methods
	# -------------------------------------

	init : init

# -------------------------------------
#   Usage
# -------------------------------------
#
# $1.init()
#
endsnippet
