snippet coh "Heading Comment"
# *************************************
#
#   ${1:Comment}
#   -> ${0:Description}
#
# *************************************
endsnippet

snippet col "Long Comment"
# -------------------------------------
#   ${0:Comment}
# -------------------------------------
endsnippet

snippet cos "Short Comment"
# ----- ${0:Comment} ----- #
endsnippet
