snippet jo "jQuery Object"
$('$1')$0
endsnippet

snippet jon "jQuery 'on'"
$('${1:}').on '${2:click}', (event) ->
	${0:# ...}
endsnippet

snippet jpd "jQuery Prevent Default"
${1:event}.preventDefault()$0
endsnippet

snippet jr "jQuery Document Ready"
jQuery ($) ->
	${0:# ...}
endsnippet

snippet jt "jQuery This"
$(@)$0
endsnippet

