snippet it "Image Tag"
= image_tag '${1:image.jpg}', alt: '${2:Alt Text}'${3:, class: '$4'}
endsnippet

snippet lt "Link To"
= link_to '${1:text}', ${2:'${3:#}'}${4:, class: '$5'}
endsnippet

snippet p "Render Partial"
= partial '${0:partial}'
endsnippet

snippet pl "Render Partial with Locals"
= partial '${1:partial}', locals: { $0 }
endsnippet

