snippet cf "Content For"
- content_for :${1} do
	$0
endsnippet

snippet rp "Render Partial"
= render '${0:partial}'
endsnippet

snippet rpc "Render Partial with Collection"
= render partial: '${1:partial}', collection: @$1
endsnippet

snippet rpl "Render Partial with Locals"
= render partial: '${1:partial}', locals: { $0 }
endsnippet

