snippet bef "before"
before do
	${1:# ...}
end$0
endsnippet

snippet desc "describe"
describe ${1} do
	${2:# ...}
end$0
endsnippet

snippet ex "Expectation"
expect($1)$0
endsnippet

snippet feat "Feature"
feature '${1}' do
	${2:# ...}
end
endsnippet

snippet it "it"
it '${1:Expectation}' do
	${2:# ...}
end$0
endsnippet

snippet let "let"
let(${1}) { ${2} }$0
endsnippet

snippet scen "Scenario"
scenario '${1}' do
	${2:# ...}
end
endsnippet
