snippet coh "Comment Heading"
=======================================================================
** ${1:Title}
=======================================================================
endsnippet

snippet col "Long Comment"
-----------------------------------------------------------------------
** ${1:Title}
-----------------------------------------------------------------------
endsnippet

snippet cos "Small Comment"
** --> ${1:Title}
endsnippet
