snippet coh "Comment Heading"
=======================================================================
** ${1:Title}
=======================================================================
endsnippet

snippet cos "Long Comment"
-----------------------------------------------------------------------
** ${1:Title}
-----------------------------------------------------------------------
endsnippet
