snippet coh "Heading Comment"
" ====================================================
"   ${1:Section Title}
" ====================================================
endsnippet

snippet cos "Sub-heading Comment"
" ========== ${1:Section Title} ========== "
endsnippet

snippet coxs "Super-sub-heading Comment"
" == ${1:Section Title} == "
endsnippet

snippet cr "Carriage Return" i
<cr>
endsnippet

snippet ld "Leader" i
<leader>
endsnippet

