snippet coh "Heading Comment"
" ====================================================
"   ${1:Section Title}
" ====================================================
endsnippet

snippet cos "Sub-heading Comment"
" ========== ${1:Section Title} ========== "
endsnippet
