snippet =lt
	= link_to '$1', '${2:#}'${3:, class: '$4'}
snippet =it
	= image_tag '$1', alt: '$2'${3:, ${4:class: '$5'}, ${6: width: '$7'}, ${8: height: '$9'}}
snippet =rp
	= render :partial => '${1:partial}'
snippet =rpl
	= render :partial => '${1:partial}', :locals => {}
snippet =rpc
	= render :partial => '${1:partial}', :collection => @$1

