snippet sscol
	//-------------------------------------
	//	${1:Comment}
	//-------------------------------------
snippet sscos
	// ----- ${1:Comment} ----- //
snippet ssex
	@extend %${1}
snippet ssir
	@extend %ir
snippet sscf
	@extend %group
