snippet sscoh
	// *************************************
	//
	//   ${1:Comment}
	//   -> ${2:Description}
	//
	// *************************************
snippet sscol
	// -------------------------------------
	//   ${1:Comment}
	// -------------------------------------
snippet sscos
	// ----- ${1:Comment} ----- //
snippet ssex
	@extend ${1}
snippet ssir
	@extend %ir
snippet sscf
	@extend %group
snippet ss+
	+${1:mixin-name}(${2:arguments})
