"*":
  Zen:
    softWrap: true
  "atom-material-ui":
    disableAnimations: true
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    lineHeight: 1.7
    scrollPastEnd: true
  "exception-reporting":
    userId: "8473803a-195c-30cf-99ec-b8d5d3def03d"
  minimap: {}
  welcome:
    showOnStartup: false
