"*":
  Zen:
    softWrap: true
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "atom-material-ui":
    colors:
      abaseColor: "#7e7e7e"
      predefinedColor: "Grey"
    tabs:
      noTabMinWidth: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-package-deps":
    ignored: []
  core:
    customFileTypes:
      "source.ini": [
        ".flowconfig"
        ".hgrc"
        ".buckconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "minimap"
      "background-tips"
      "relative-numbers"
      "ide-flowtype"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      ".sass-cache"
      ".bundle"
    ]
    telemetryConsent: "limited"
    themes: [
      "city-lights-ui"
      "city-lights-syntax"
    ]
    titleBar: "hidden"
  "easy-motion-redux": {}
  editor:
    fontFamily: "Operator Mono"
    invisibles: {}
    lineHeight: 1.6
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "8473803a-195c-30cf-99ec-b8d5d3def03d"
  "flow-ide":
    showUncovered: true
  linter: {}
  "linter-eslint":
    eslintrcPath: "~/.eslintrc"
    globalNodePath: "/Users/drewbarontini/.nvm/versions/node/v7.10.0"
    useGlobalEslint: true
  "linter-ui-default":
    panelHeight: 81
  "markdown-preview-plus":
    useGitHubStyle: true
  minimap: {}
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    prettierOptions:
      parser: "flow"
      singleQuote: true
      trailingComma: "es5"
  "pristine-ui": {}
  tabs: {}
  tester:
    showInlineError: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearMultipleCursorsOnEscapeInsertMode: true
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
