packages: [
  "advanced-open-file"
  "apex-syntax"
  "apex-ui"
  "atom-csscomb"
  "atom-ide-ui"
  "atom-jade"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-ui"
  "busy-signal"
  "docblockr"
  "emmet"
  "file-icons"
  "git-plus"
  "ide-flowtype"
  "intentions"
  "language-babel"
  "language-graphql"
  "language-haml"
  "language-javascript-jsx"
  "language-viml"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "minimap"
  "oceanic-next"
  "package-sync"
  "prettier-atom"
  "pristine-ui"
  "project-manager"
  "relative-numbers"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
  "Zen"
]
