packages: [
  "advanced-open-file"
  "aligner"
  "aligner-javascript"
  "apex-syntax"
  "apex-ui"
  "atom-csscomb"
  "atom-jade"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "atom-material-ui"
  "busy-signal"
  "docblockr"
  "easy-motion-redux"
  "emmet"
  "file-icons"
  "git-plus"
  "intentions"
  "language-babel"
  "language-haml"
  "language-javascript-jsx"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "minimap"
  "package-sync"
  "project-manager"
  "relative-numbers"
  "vim-mode-plus"
  "Zen"
]
