[
  {
    title: "Belay"
    group: "Products"
    paths: [
      "/Users/drewbarontini/Code/Sites/belay"
    ]
  },
  {
    title: "Creator"
    group: "Products"
    paths: [
      "/Users/drewbarontini/Code/Apps/creator"
    ]
  }
  {
    title: "New North"
    group: "Products"
    paths: [
      "/Users/drewbarontini/Code/Sites/new-north"
    ]
  }
]
