# Header comment
snippet coh
	# *************************************
	#
	#   ${1:Comment}
	#   -> ${0:Description}
	#
	# *************************************

# Long comment
snippet col
	# -------------------------------------
	#   ${0:Comment}
	# -------------------------------------

# Short comment
snippet cos
	# ----- ${0:Comment} ----- #

